@model List<Vente>

@{
    ViewData["Title"] = "List of Ventes";
}

<div class="row">
    <div class="col-md-8 offset-md-2">

        <table class="table">
            <thead>
                <tr>
                    @*<th>Product </th>*@
                    <th>Vente Id</th>
                    <th>Montant</th>
                    <th>Mode de payement</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.VenteId)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Montant)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Mode_payment)
                        </td>




                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>
